<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.cloud.document.mapper.ContentMapper" >

    <resultMap id="contentMap" type="com.sugon.cloud.document.entity.Content">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="model_menu_id" property="modelMenuId" jdbcType="INTEGER" />
        <result column="deleted" property="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="addContent" parameterType="com.sugon.cloud.document.entity.Content">
        insert into content(`type`,`content`,`model_menu_id`,`deleted`) values(
            #{type,jdbcType=TINYINT},
            #{content,jdbcType=LONGVARCHAR},
            #{modelMenuId,jdbcType=INTEGER},
            #{deleted,jdbcType=INTEGER}
            )
    </insert>

    <select id="getContentById" resultMap="contentMap">
        select * from content
        <where>
            id=#{fileId}
        </where>
    </select>

    <select id="getContentByMenuId" resultMap="contentMap">
        select * from content
        <where>
            model_menu_id=#{menuId}
        </where>
    </select>

    <update id="update" parameterType="com.sugon.cloud.document.entity.Content">
        update content
        <set>
            type=#{type}
        </set>
        <set>
            content=#{content}
        </set>
        <set>
            model_menu_id=#{modelMenuId}
        </set>
        <set>
            deleted=#{deleted}
        </set>
        <where>
            id=#{id}
        </where>

    </update>

    <update id="delete">
        update content
        <set>
            deleted=1
        </set>
        <where>
            id=#{fileId}
        </where>
    </update>

</mapper>