<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.cloud.document.mapper.ModuleMapper" >

    <resultMap id="moduleMap" type="com.sugon.cloud.document.entity.Module">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="comment" property="comment" jdbcType="VARCHAR" />
        <result column="catalog_id" property="catalogId"/>
    </resultMap>

    <insert id="addModule">
        INSERT INTO
        `module` (
          `name`, `comment`,`catalog_id`
        )
        VALUES (
          #{name, jdbcType=VARCHAR},
          #{comment, jdbcType=VARCHAR},
          #{catalogId, jdbcType=INTEGER}
        )

    </insert>

    <update id="updateModule">
        UPDATE `module`
        SET `name` = #{name, jdbcType=VARCHAR}, `comment` = #{comment, jdbcType=VARCHAR}
        where `id` = #{id}
    </update>

    <delete id="deleteModuleById">
        DELETE
        FROM `module`
        WHERE `id` = #{id}
    </delete>

    <select id="selectModuleByFuzzyName" resultMap="moduleMap" >
        SELECT *
        FROM `module`
        WHERE `name` LIKE CONCAT('%', #{moduleName}, '%')
    </select>

    <select id="selectModuleByName" resultMap="moduleMap">
        SELECT *
        FROM `module`
        WHERE `name` = #{moduleName}
    </select>

    <select id="selectModules" resultMap="moduleMap">
        SELECT *
        FROM `module`
        <where>
            1=1
            <if test="name != null">
               and `name` LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="selectModuleNameByName" resultType="java.lang.String">
        SELECT `name`
        FROM `module`
        WHERE `name` = #{moduleName}
    </select>

    <select id="selectModuleNameByNameInOrtherModule" resultType="java.lang.String">
        SELECT `name`
        FROM `module`
        WHERE `name` = #{moduleName} AND `id` != #{id}
    </select>

    <select id="selectModuleById" resultMap="moduleMap">
        SELECT *
        FROM `module`
        WHERE `id` = #{id}
    </select>

    <select id="selectByCatalogId" resultMap="moduleMap">
        SELECT *
        FROM `module`
        WHERE `catalog_id` = #{catalogId}
    </select>

</mapper>