<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sugon.cloud.document.mapper.ModuleMapper" >

    <insert id="addModule">
        INSERT INTO  `module`
        (`name`, `comment`)
        VALUES (
          #{name, jdbcType=VARCHAR},
          #{comment, jdbcType=VARCHAR}
        )

    </insert>

    <update id="updateModule">
        UPDATE `module`
        SET `name` = #{name, jdbcType=VARCHAR}, `comment` = #{comment, jdbcType=VARCHAR}
        where `id` = #{id}
    </update>

    <delete id="deleteModuleById">
        DELETE
        FROM `module`
        WHERE `id` = #{id}
    </delete>

    <select id="selectModuleByFuzzyName" resultType="com.sugon.cloud.document.entity.Module">
        SELECT *
        FROM `module`
        WHERE `name` LIKE CONCAT('%', #{moduleName}, '%')
    </select>

    <select id="selectModuleByName" resultType="com.sugon.cloud.document.entity.Module">
        SELECT *
        FROM `module`
        WHERE `name` = #{moduleName}
    </select>


</mapper>